@font-face {
	font-family: 'Spartan';
	src: url("../fonts/leaguespartan-bold.woff2");
	/* https://www.theleagueofmoveabletype.com/league-spartan */
}
body {
	padding-top: 12px;
	font-family: 'Spartan', 'Arial';
	margin: 24px;
}
#logo_header {
	text-align: center;
	padding-bottom: 24px;
}
a {
	color: black;
	text-decoration: none;
}
.links {
	width: 342px;
	margin: auto;
	position: relative;
	left: -32px;
	padding: 0;
}
.site-link {
	height: 356px;
	width: 330px;
	padding: 12px;
	margin: 12px;
	font-size: 24px;
	line-height: 32px;
}
.site-link:hover {
	padding: 11px;
	border: 1px solid gray;
	border-radius: 24px;
}
.site-link img {
	height: 324px;
}
footer {
	font-size: 12px;
	color: gray;
	margin-top: 32px;
}
@media screen and (min-width: 768px) {
	body {
		width: 768px;
		margin: auto;
	}
	footer {
		margin-top: 0px;
	}
	.links {
		width: 768px;
		margin: 0;
		left: 0;
	}
	.site-link {
		position: relative;
		float: left;
	}
	footer:before {
		content: url("../img/n_line.png");
	}
}